[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
	{% set printcfg = printer['gcode_macro _printcfg'] %}
	{% set T = params.T|default(printcfg.print_default_extruder_temp)|float %}
	
	{% if printer.extruder.target != 0 %}
    	{% if printer.extruder.temperature < printer.extruder.target %}
        	M109 S{printer.extruder.target|float}
    	{% endif %}
	{% else %}
    	{% if printer.extruder.target < T %}
        	M109 S{T}
    	{% endif %}
	{% endif %}
    
############ Command overrides ############

[gcode_macro M109]
rename_existing: M99109
gcode: 
	
	{% set s = params.S|float %}
	
	M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
	{% if s != 0 %}
    	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+2}
	{% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

[gcode_macro M141]
description: Set chamber temperature
gcode:
    {% if 'S' in params %}
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET={params.S|float}
    {% else %}
        RESPOND PREFIX="M141" MSG="Missing S parameter"
    {% endif %}
 
[gcode_macro M191]
description: Set chamber temperature and wait
gcode:
    {% if 'S' in params %}
        TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={params.S|float}
    {% else %}
        RESPOND PREFIX="M191" MSG="Missing S parameter"
    {% endif %}
