# When using different hardware use config below as template
# Adapt pins in config file 
[include mcu/OWLFC_Mini.cfg]

[mcu OWLFC_Mini]
#comment one out and add serial or uuid of the board nightowl
#serial:
canbus_uuid: a4e4dfa2147f

[temperature_sensor OWLFC_Mini]
sensor_type: temperature_mcu
sensor_mcu: OWLFC_Mini

[AFC_NightOwl NightOwl_Black]
type: 'NightOwl'
hub: NightOwl_Black_Hub
extruder: extruder
buffer: NO_Black                  #Turtleneck as standard Buffer

[AFC_stepper lane5]
unit: NightOwl_Black:1
extruder: extruder
step_pin: OWLFC_Mini:M1_STEP
dir_pin: !OWLFC_Mini:M1_DIR
enable_pin: !OWLFC_Mini:M1_EN
microsteps: 16
rotation_distance: 7.16
print_current: 0.6
dist_hub: 65.12 
park_dist: 10
long_moves_speed: 200 
long_moves_accel: 250
load: ^OWLFC_Mini:TRG1
prep: ^OWLFC_Mini:EXT1

[tmc2209 AFC_stepper lane5]
uart_pin: OWLFC_Mini:M1_UART
uart_address: 0
run_current: 1.2
sense_resistor: 0.110

# [autotune_tmc AFC_stepper lane5]
# motor: Turtle_Stepper #bom motor
# #motor: ldo-36sth20-1004ahg #LDO Kit Motor
# # tuning_goal: silent
# tuning_goal: performance
# voltage: 24

[AFC_stepper lane6]
unit: NightOwl_Black:2
extruder: extruder
step_pin: OWLFC_Mini:M2_STEP
dir_pin: OWLFC_Mini:M2_DIR
enable_pin: !OWLFC_Mini:M2_EN
microsteps: 16
rotation_distance: 7.16
print_current: 0.6
dist_hub: 65.37 
park_dist: 10
long_moves_speed: 200 
long_moves_accel: 250
load: ^OWLFC_Mini:TRG2
prep: ^OWLFC_Mini:EXT2

[tmc2209 AFC_stepper lane6]
uart_pin: OWLFC_Mini:M2_UART
uart_address: 0
run_current: 1.2
sense_resistor: 0.110

# [autotune_tmc AFC_stepper lane6]
# motor: Turtle_Stepper #bom motor
# #motor: ldo-36sth20-1004ahg #LDO Kit Motor
# # tuning_goal: silent
# tuning_goal: performance
# voltage: 24

[AFC_hub NightOwl_Black_Hub]
afc_bowden_length: 2061.77 
move_dis: 30                # Distance to move the filament within the hub in mm.
cut: False                  # Hub has Cutter
#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
cut_cmd: AFC                #CMD to use
cut_dist: 200               # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).
switch_pin: ^OWLFC_Mini:HUB

[AFC_buffer NO_Black]
advance_pin: ^OWLFC_Mini:TN_ADV    # set advance pin
trailing_pin: ^OWLFC_Mini:TN_TRL  # set trailing pin
multiplier_high: 1.05   # default 1.05, factor to feed more filament
multiplier_low:  0.95   # default 0.95, factor to feed less filament