[board_pins OWLFC_Mini]
mcu: OWLFC_Mini
aliases:
    M1_STEP=PB15    , M1_DIR=PB14   , M1_EN=PA8   	, M1_UART=PB13   ,
    M2_STEP=PC6   	, M2_DIR=PA9    , M2_EN=PA10   	, M2_UART=PC7    ,
    # suggested switch pin configurations
    HUB=PB12 		, 
    TRG1=PB1  		, TRG2=PB11   ,
    EXT1=PB10 		, EXT2=PB2  ,
    TN_ADV=PA3      , TN_TRL=PA2 ,
    # alternate names for endstop ports
    SW1=PB10 		, SW2=PB1 	, SW3=PB2  	, SW4=PB11 	, SW5=PB11	, SW6=PA2	, SW7=PA3 ,

# [tmc2209 AFC_stepper lane5]
# sense_resistor: 0.180
# [tmc2209 AFC_stepper lane6]
# sense_resistor: 0.180